
@{
    ViewBag.Title = "API Codes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>API Codes</h2>

<table class="table">
    <tr>
        <th>API URL</th>
        <th>Description</th>
    </tr>
     <tr>
        <td>amazegame-project.ddns.net:47225/api/accounts</td>
        <td>Recieve all of the players and their stats as an array (XML)</td>
    </tr>
    <tr>
        <td>amazegame-project.ddns.net:47225/api/accounts/user={Name}</td>
        <td>Recieve information on a specific player based on their username (XML)</td>
    </tr>

</table>

